In [1]:
import numpy as  np
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv("percapita.csv")
df.head()

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583

In [4]:
df.shape

(47, 2)

In [6]:
df.columns

Index(['year', 'per capita income (US$)'], dtype='object')

In [10]:
model  = linear_model.LinearRegression()
model.fit( df[['year']], df[['per capita income (US$)']])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [11]:
model.predict(2020)

array([[41288.69409442]])

In [21]:
test_years = pd.Series([2020,2021,2022,2023,2224,2025,2026,2027,2028,2029,2030])
test_df = pd.DataFrame(test_years, columns = ['year'])
test_df

    year
0   2020
1   2021
2   2022
3   2023
4   2224
5   2025
6   2026
7   2027
8   2028
9   2029
10  2030

In [22]:
predictions = model.predict(test_df[['year']])
predictions

array([[ 41288.69409442],
       [ 42117.15916964],
       [ 42945.62424486],
       [ 43774.08932009],
       [210295.56943985],
       [ 45431.01947053],
       [ 46259.48454575],
       [ 47087.94962098],
       [ 47916.4146962 ],
       [ 48744.87977142],
       [ 49573.34484664]])

In [23]:
test_df['predictions'] = predictions
test_df.to_csv("percapita_predictions.csv")